.footer {
    background-color: var(--color-header-footer);
    color: var(--color-text-header-footer);
    padding: 40px 0;
}

.footer-link {
    color: var(--color-text-header-footer);
    opacity: 0.8;
    text-decoration: none;
    display: block;
}

.footer-link:hover {
    opacity: 1;
    color: var(--color-text-header-footer);
}

.footer-bottom {
    border-top: var(--color-border);
    padding-top: 20px;
    margin-top: 30px;
}

@media (max-width: 992px) {
    .footer-col {
        margin-bottom: 30px;
    }
}