.pagination-custom .page-item .page-link {
    color: var(--color-text-primary);
    border: none;
    background-color: var(--color-bg-white);
    margin: 0 4px;
    border-radius: var(--border-radius-sm);
}

.pagination-custom .page-item.active .page-link {
    background-color: var(--color-accent);
    border-color: none;
    color: var(--color-text-button);
}

.pagination-custom .page-item:not(.active) .page-link:hover {
    background-color: var(--color-bg-gray);
    color: var(--color-text-primary);
}