:root {
    --color-header-footer: #005248;
    --color-text-header-footer: #FFFFFF;

    --color-accent: #BA9560;
    --color-accent-hover: #e4e4e4;
    --color-bg-input: white;

    --color-border: 1px solid #D2D2D2;
    --color-border-accent: 1px solid #BA9560;

    --color-bg-gray: #fafafa;
    --color-bg-white: #FFFFFF;

    --color-text-primary: #717171;
    --color-text-secondary: #444444;
    --color-text-button: #252525;

    --border-radius-sm: 8px;
    --border-radius-md: 16px;


}

body {
    background-color: var(--color-header-footer);
    padding-top: 80px;

}

@media (max-width: 991.98px) {
    body {
        padding-top: 60px;
    }
}

.btn-primary {
    color: var(--color-text-button);
    background-color: var(--color-accent);
    border-radius: var(--border-radius-sm);
    border: var(--color-border-accent);
    transition: background-color 0.3s;


}

.btn-primary:hover {
    color: var(--color-text-primary);
    background-color: var(--color-bg-gray);
    border: var(--color-border);
}


.btn-secondary {
    border-radius: var(--border-radius-sm);
    color: var(--color-text-primary);
    background-color: var(--color-bg-gray);
    border: var(--color-border);
    transition: background-color 0.3s;

}

.btn-secondary:hover {
    color: var(--color-text-button);
    background-color: var(--color-accent);
    border: var(--color-border-accent);

}


.input-primary {
    min-width: 40px;
    border: var(--color-border);
    border-radius: var(--border-radius-sm);
    background-color: var(--color-bg-input);
    color: var(--color-text-primary);

}

.input-primary::placeholder {
    color: var(--color-text-primary);
}




.form-check-input:checked {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

.card {
    background-color: var(--color-bg-white);
    border: var(--color-border);
    border-radius: var(--border-radius-md);
    color: var(--color-text-primary);
    height: 100%;
}


.section-bg-white {
    background-color: var(--color-bg-white);
    color: var(--color-text-primary);
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 4rem;

}

.section-bg-gray {
    background-color: var(--color-bg-gray);
    color: var(--color-text-primary);
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 4rem;

}

.input-button-form {
    width: 100%;
}

@media (max-width: 992px) {
    .input-button-form .btn-primary {
        width: 100%;
    }

    .section-bg-white {
        background-color: var(--color-bg-white);
        color: var(--color-text-primary);
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 2rem;

    }

    .section-bg-gray {
        background-color: var(--color-bg-gray);
        color: var(--color-text-primary);
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 4rem;

    }
}


.icon-accent {
    color: var(--color-accent);
}

.link-arrow {
  color: var(--color-text-secondary);
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  display: inline-flex; 
  align-items: center;
  gap: 0.25em; 
}

.link-arrow::after {
 content: "↗";   
 display: inline-block;
  font-size: 0.8em; 
  transition: transform 0.3s ease;
}

.link-arrow:hover {
  color: var(--color-accent);
}

.link-arrow:hover::after {
  transform: translateY(-1px);
}